{% extends "payment/base_layout.html" %}
{% block content %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{ title }}</div>
        <div class="table-responsive">
            <ul class="list-group">
                <i class="list-group-item"><a href="{% url "payment" %}">Demo Thanh toán</a></i>
                <i class="list-group-item"><a href="{% url "query" %}">Demo Query (Kiểm tra kết quả Giao dịch tại
                    VNPAY)</a></i>
                <i class="list-group-item"><a href="{% url "refund" %}">Demo Refund (Gửi yêu cầu hoàn tiền cho giao
                    dịch)</a></i>
            </ul>
        </div>
    </div>
{% endblock %}
