{% extends "app/base.html" %} {% load static %}

<!--login-->
{% block login_content %}
<style>
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgba(132, 250, 176, 1),
      rgba(143, 211, 244, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right,
      rgba(132, 250, 176, 1),
      rgba(143, 211, 244, 1)
    );
  }

  .input-group input {
    width: 400px; /* Chiều rộng mong muốn */
  }
</style>
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6 mt-5">
        <!-- Thêm lớp "mt-5" để căn lề bên trên -->
        <div class="card" style="border-radius: 15px">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Đăng nhập</h2>
            <form
              class="row g-3 mx-auto"
              action="{% url 'login' %}"
              method="post"
            >
              {% csrf_token %}

              <div class="col-12">
                <div class="form-group">
                  <label for="username">Tên người dùng</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      id="username"
                      name="username"
                      class="form-control"
                      placeholder="Nhập tên người dùng"
                    />
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="password">Mật khẩu</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-lock"> </i>
                      </span>
                    </div>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Nhập mật khẩu"
                    />
                  </div>
                </div>
              </div>

              <div class="col-12 text-center">
                <button
                  type="submit"
                  class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body"
                >
                  Đăng nhập
                </button>
              </div>

              <div class="col-12 text-center">
                <a href="{% url 'register' %}" class="text-body"
                  >Đăng ký tài khoản mới</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock login_content %}
